@charset "UTF8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('truetype');
    font-weight: normal;
    font-style: normal;}

    :root {
        --cor0: #c5ebd6;
        --cor01:#83e1ad;
        --cor2: #3ddc84;
        --cor3: #2fa866;
        --cor4: #1a5c37;
        --cor5: #063d1e;

        --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;

    } /*root: Podemos guardar variáveis no root, todas vez que escrevemos uma variável começamos com --. Podemos acessar as variáveis pelo atalho CTRL + ESPAÇO,  no caso das cores, a variável com a cor ficará no final da lista de cores sugeridas.*/

    * {
        margin: 0px;
        padding: 0px;
    } /* O asterisco é uma configuração global, ou seja, ele engloba todos os elementos e configura um padrão. Aqui no caso, todos os box ficaram sem padding e sem margin.*/
    body {
        background-color: #c5ebd6;
    }
    main {
        border-radius: 10px;
        padding: 20px; 
        background-color: white;
        min-width: 280px;
        max-width: 800px;
        margin: auto;
        box-shadow: 0px 0px 10px #1a5c37;
        margin-bottom: 30px;
    }
    .pequena {
        max-width: 350px;
        display: block;
        margin: auto;
    }
    header {
        
        background-image: linear-gradient(to top, rgb(21, 80, 13), rgb(139, 235, 130));
        color: white;
        text-align: center;
        padding: 10px;
        height: 180px;
    }
  
    header > p {
        margin: auto;
        font-size: 1.2em;
        text-align: center;
        padding-bottom: 20px;
        min-height: 150px;
        max-width: 600px;
    }
    header h1 {
        font-size: 3em;
        margin-bottom: 20px;
        text-shadow: 2px 2px 1px #063d1e;
    }
    nav {
        text-align: center;
        font-weight: bold;
        background-color: var(--cor5);
        padding: 10px;
        
    }
    nav > a {
        color: white;
        margin-right: 30px;
        text-decoration: none;
        transition-duration: 0.5s;
    }
    nav > a:hover {
        font-size: 17px;
        background-color: darkgreen;
        font-weight: bolder;
        border-radius: 10px;
        padding: 3px;
        
    }
    p {
        margin: 15px 0px;
        text-align: justify;
        text-indent: 30px;
        padding-left: 5px;
        line-height: 1.5em; /*distanciamento entre as linhas*/

    }
    h2 {
        font-family: 'idroid', serif;   
        color: rgb(52, 145, 75);
    }
    h3 {
        font-family: 'idroid', serif;   
        color: rgb(52, 145, 75);
        background-image: linear-gradient(to right, rgb(113, 224, 113), white);
    }
    h4 {
        color: white;
        background-color: rgb(21, 172, 46);
        padding: 7px 0px 7px 10px;
        
        border-radius: 10px 10px 0px 0px;
    }
    aside {
        background-color: var(--cor01);
        border-radius: 10px;
        padding-bottom: 15px;
    }
    aside > ul {
        list-style-position: inside;
        columns: 2;
        margin-left: 10px;
        list-style-type: "\2714\00A0\00A0";/*Buscar imagem de check na emojipedia, copiar número e acrescentar a contra barra ou barra invertida. 00A0 código de espaço sem quebra.  Este é um caractere HTML que você deve ter visto online. Pode aparecer como “& nbsp” e instrui um navegador da web a criar um espaço entre duas palavras sem ir para a próxima linha*/
    }
    main > a {
        color: green;
        font-weight: 700;
        text-decoration: none;
        padding: 2px 6px;
    }
    main a:hover {
        text-decoration: underline;
        color: #063d1e;
        font-size: 18px;
        background-color: #83e1ad;
        font-weight: 800;
    }
    a.externo::after {
        content: "\2693";
    }
    img {
      
        width: 100%;
    }
    div.video {
        background-color: #063d1e;
        margin: 0px -20px 30px -20px;
        padding: 20px;
        padding-bottom: 56.25%;/*usar essa configuração para alinhar barras pretas laterais que estão sobrando no vídeo, o Guanabara sugeriu 59%.*/
       
        position: relative;
    }
    div.video > iframe {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    }
    footer {
        background-color: var(--cor5);
        text-align: center;
        padding: 5px;
        
        
    }
    
    
    